@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Courier Prime', monospace;
  font-optical-sizing: auto;
}

body {
  margin: 0 auto;
  overflow: hidden;
}
